main {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 5%;
}
h1 {
    font-weight: bold;
    text-align: center;
}

h2 {
    font-weight: bold;
}

h3 {
    font-style: italic;
    text-align: center;
}

.dialogue {
    text-indent: 5%;
}

main{

}

p.first::first-letter {
    font-size: 60px;
    float: left;
}
